 <section v-if="email">
     <div class="email-subject">
        <img :src="`/src/assets/email/message.png`" alt="">
        <h1>{{email.subject}} </h1>
     </div>
     <div class="email-body">{{email.body}} </div>
        <!--check for correct writing:which pic should use open or closed-->
        
        <!--<img :src="`/src/assets/email/${email.id}.png`" alt="">-->
        <!--<button @click="nextCar">Next</button>-->
    <button @click.stop="deleteEmail">Delete</button>
    <!--<router-link :to="`/email/${email.id}/edit`">Edit</router-link>-->
    </section>
