
.email-subject{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;

}
    img {
        max-width: 20px;
    }
     
.email-body{
    display: flex;
    background-color: lightpink;
}